<!DOCTYPE html>
<html ng-app="Blog">
<head>
  <title>RailsBlogAngularSinglePageSample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="angular <%= controller_name %> <%= action_name %>" ui-view>

<%= yield %>

</body>
</html>
